*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}

@media only screen and (max-width: 600px){

section{
    margin-left: 20vw;
    margin-right: 20vw;
}
}

@media only screen and (max-width: 800px){

section{
    margin-left: 15vw;
    margin-right: 15vw;
}
}

@media only screen and (max-width: 3000px){
    section{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
}

